# Core LLM + LangChain stack
llama-cpp-python==0.2.78
langchain==0.1.20
langchain-core==0.1.53
langchain-community==0.0.32

# Cache + Memory
redis==5.0.1

# Vector DB
pinecone==2.2.4
sentence-transformers==2.6.1

# Firebase
firebase-admin==6.4.0

# FastAPI & Web Server
fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==1.10.15q

# Embeddings + Transformers
torch==2.2.1
transformers==4.39.3
huggingface-hub==0.22.2
accelerate==0.28.0
numpy==1.26.4

scipy==1.12.0